.pl-6 {
    padding-left: 6%;
}

.info-body {
    margin-top: 80px;
}

.info-body::after, .wrap-content::after {
    display: block;
    content: "";
    clear: both;
}

.info-body hr {
    width: 90%;
    margin: 16px auto;
    height: 1px;
    background: #ccc;
    border-width: 0;
}

.body-header {
    position: relative;
    background: white;
}

.body-header img {
    width: 80px;
    padding: 4px 10px 4px 20px;
    border-right: 2px solid #68D69D;
    margin: 10px 0;
}

.wrap-title {
    display: inline-block;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    margin-left: 16px;
}

.wrap-content {
    background: white;
    width: 96vw;
    margin: 0 auto;
    padding: 32px 0;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #888;
    margin-bottom: 32px;
}

.wrap-input {
    margin: 20px 0;
}

.wrap-input label, input {
    vertical-align: middle;
}

.wrap-content label {
    width: 16%;
    display: inline-block;
}

.wrap-content input[type=text] {
    width: 75%;
    display: inline-block;
    height: 48px;
    padding: 0 16px;
    background: rgba(104,214,157, 0.1);
    border: 2px solid rgba(104,214,157, 0.5);
    border-radius: 4px;
}

.wrap-content input[type=text]:focus-visible {
    outline: none;
    border: 2px solid rgb(1, 163, 80);
}

.wrap-content select[name=birth] {
    padding: 4px;
    margin: 0px 4px;
}

.wrap-edit-avt img {
    width: 15vw;
    height: 15vw;
    min-width: 160px;
    min-height: 160px;
    margin: 0 auto;
    display: block;
    border: 2px solid #68D69D;
    border-radius: 50%;
    object-fit: contain;
}

.wrap-edit-avt input[type=button] {
    margin: 16px auto;
    display: block;
    padding: 6px 16px;
}

.wrap-edit-avt input[type=button]:hover {
    cursor: pointer;
}

.wrap-content input[type=submit] {
    margin: 0 auto;
    display: block;
    padding: 12px 48px;
    border: none;
    background: #68D69D;
    border-radius: 4px;
    color: #401D83;
    font-weight: 600;
    font-size: 18px;
}

.wrap-content input[type=submit]:hover {
    cursor: pointer;
    background: #74efaf;
}

@media only screen and (max-width: 768px){
    .info-body {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 768px)
                    and (max-width: 992px){
    .login p {
        display: none;
    }
    .login img {
        float: right;
    }
}

@media only screen and (min-width: 992px){
}
